#white{
    background-color: rgb(36, 10, 232);
    color: white;
}
#black{
    background-color: white;
    color: white;
}
#butn{
    display: none;
}
#slider:hover{
    #butn{
        display: flex;
    }
}